<div class="w-full flex flex-col flex-wrap content-center my-2 space-y-2">

  <div
    class="flex flex-col border-slate-500 border-dashed border-2 w-4/5 mx-8 p-4 justify-center"
  >
    <h3 class="text-center font-bold">Your Blog Posts</h3>
    <button
      class="ml-auto my-2 w-24 border-2 text-white text-center text-bold border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
      id="add-post"
    >+
    </button>
    {{#each posts as |post|}}
      <div class="w-full flex border-2 border-black rounded">
        <a
          href="/dashboard/{{post.id}}"
          id={{post.id}}
          class="update-post w-3/12 bg-zinc-800 bg-opacity-80 text-center text-white hover:bg-opacity-90"
        >{{post.title}}</a>
        <div
          class="w-7/12 bg-sky-800 bg-opacity-80 text-white"
        >{{post.text}}</div>
        <div class="1/12 bg-zinc-800 bg-opacity-80 text-center text-white">Post
          id:</div>
        <div
          class="1/12 bg-zinc-800 bg-opacity-80 text-center text-white"
        >{{post.id}}</div>
      </div>
    {{/each}}
  </div>
</div>

{{! Modal for new posts }}
<div id="add-modal" class="modal">
  <div class="modal-content border-2 border-black rounded bg-sky-200">
    <form class="form login-form bg-sky-200 bg-opacity-50 signup-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Text:</label>
        <input class="form-input" type="text" id="post-text" />
      </div>
      <button
        id="add-button"
        class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
      >Save</button>
    </form>
  </div>
</div>

{{! Modal for updating posts }}
{{!-- <div id="update-modal" class="modal">
  <div class="modal-content border-2 border-black rounded bg-sky-200">
    <form class="form login-form bg-sky-200 bg-opacity-50 signup-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="update-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Text:</label>
        <input class="form-input" type="text" id="update-text" />
      </div>
      <div class="form-group">
        <label for="post-text">Id:</label>
        <input class="form-input" type="text" id="update-id" value={{id}} />
      </div>
      <button
        id="update-button"
        class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
      >Update</button>
      <button
        id="delete-button"
        class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
      >Delete</button>
    </form>
  </div>
</div> --}}

<script src="/js/dashboard.js"></script>